# Git 관련
.git
.gitignore

# 파이썬 캐시/가상환경
**/__pycache__
**/.pytest_cache
**/.mypy_cache
backend/.venv

# Node 관련
frontend/node_modules
**/node_modules
frontend/.pnpm-store
**/.pnpm-store

# 기타 로그/불필요 파일
*.log
